<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrimerServlet</servlet-name>
        <servlet-class>PrimerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SegundoServlet</servlet-name>
        <servlet-class>SegundoServlet</servlet-class>
        <init-param>
            <param-name>user</param-name>
            <param-value>alumno</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>Alumno1</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ServletEnlace</servlet-name>
        <servlet-class>ServletEnlace</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFormulario1</servlet-name>
        <servlet-class>ServletFormulario1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFormulario1InformacionCliente</servlet-name>
        <servlet-class>ServletFormulario1InformacionCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletMysql</servlet-name>
        <servlet-class>servletMysql</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaSelectPersonalizada</servlet-name>
        <servlet-class>ServletConsultaSelectPersonalizada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletconsultaModificacion</servlet-name>
        <servlet-class>ServletconsultaModificacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInformacionModificacion</servlet-name>
        <servlet-class>ServletInformacionModificacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlteraDatos</servlet-name>
        <servlet-class>ServletAlteraDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificacionesTabla</servlet-name>
        <servlet-class>ServletModificacionesTabla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarDatosTabla</servlet-name>
        <servlet-class>MostrarDatosTabla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBorrarDatosTabla</servlet-name>
        <servlet-class>ServletBorrarDatosTabla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificarFilaTabla</servlet-name>
        <servlet-class>ServletModificarFilaTabla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificarFilaTabla2</servlet-name>
        <servlet-class>ServletModificarFilaTabla2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsertarDatos</servlet-name>
        <servlet-class>ServletInsertarDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportarBaseDatos</servlet-name>
        <servlet-class>ExportarBaseDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportarBaseDatos</servlet-name>
        <servlet-class>ImportarBaseDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOperacionesBD</servlet-name>
        <servlet-class>ServletOperacionesBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Operaciones</servlet-name>
        <servlet-class>Operaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificacionesTabla1</servlet-name>
        <servlet-class>ServletModificacionesTabla1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBorrarDatosTabla1</servlet-name>
        <servlet-class>ServletBorrarDatosTabla1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrimerServlet</servlet-name>
        <url-pattern>/PrimerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SegundoServlet</servlet-name>
        <url-pattern>/SegundoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFormulario1</servlet-name>
        <url-pattern>/ServletFormulario1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEnlace</servlet-name>
        <url-pattern>/ServletEnlace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFormulario1InformacionCliente</servlet-name>
        <url-pattern>/ServletFormulario1InformacionCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletMysql</servlet-name>
        <url-pattern>/servletMysql</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaSelectPersonalizada</servlet-name>
        <url-pattern>/ServletConsultaSelectPersonalizada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletconsultaModificacion</servlet-name>
        <url-pattern>/ServletconsultaModificacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInformacionModificacion</servlet-name>
        <url-pattern>/ServletInformacionModificacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlteraDatos</servlet-name>
        <url-pattern>/ServletAlteraDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificacionesTabla</servlet-name>
        <url-pattern>/ServletModificacionesTabla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarDatosTabla</servlet-name>
        <url-pattern>/MostrarDatosTabla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBorrarDatosTabla</servlet-name>
        <url-pattern>/ServletBorrarDatosTabla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificarFilaTabla</servlet-name>
        <url-pattern>/ServletModificarFilaTabla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificarFilaTabla2</servlet-name>
        <url-pattern>/ServletModificarFilaTabla2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsertarDatos</servlet-name>
        <url-pattern>/ServletInsertarDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportarBaseDatos</servlet-name>
        <url-pattern>/ExportarBaseDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportarBaseDatos</servlet-name>
        <url-pattern>/ImportarBaseDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOperacionesBD</servlet-name>
        <url-pattern>/ServletOperacionesBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Operaciones</servlet-name>
        <url-pattern>/Operaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificacionesTabla1</servlet-name>
        <url-pattern>/ServletModificacionesTabla1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBorrarDatosTabla1</servlet-name>
        <url-pattern>/ServletBorrarDatosTabla1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
